//color vars 

$color-primary: #B9B7BD; // Pewter 
$color-secondary: #E7D2CC; // Scallop Seashell 
$color-text: #868B8E; // Gray 
$color-background: #EEEDE7; // Ivory 

//sizes

$size-text: 18px;
$size-main_title: 70px; 
$size-heading: 35px;

//spacing

$spacing-padding: 6rem;
$spacing-margin: 6rem;